body {
  background-color: #4b638c !important;
  font-Family: 'Helvetica' !important; }

  .navbar-nav { flex-direction:row !important; } /*navbar stays horizontal on top*/
  
  body .blue {
    background-color: #6f86ce; }
  body .yellow {
    background-color: #f0d197; }
  body .green {
    background-color: #a0dbd3; }
  body .alarmContainer {
    background-color: #4b638c;
    text-align: center;
    padding: 10px 0px; }
    body .alarmContainer .alarmForm {
      background-color: #6fa6eb;
      padding: 5%;
      overflow: hidden; }
      body .alarmContainer .alarmForm h1 {
        text-transform: uppercase;
        font-size: 35px;
        font-style: italic;
        font-weight: bold;
        margin-bottom: 30px; }
      body .alarmContainer .alarmForm h5 {
        text-transform: uppercase;
        font-size: 15px;
        font-style: italic;
        font-weight: bold;
        margin-bottom: 10px; }
      body .alarmContainer .alarmForm .form-row {
        margin: 15px 150px;
        border-radius: 10px; }
        body .alarmContainer .alarmForm .form-row .form-group {
          padding: 5px; }
          body .alarmContainer .alarmForm .form-row .form-group input.timeInput {
            position: relative;
            top: 15%;
            float: right;
            background-color: unset !important;
            border: unset;
            font-size: 25px;
            border-radius: 5px;
            outline-width: 0; }
          body .alarmContainer .alarmForm .form-row .form-group label.title {
            position: relative;
            top: 15%;
            font-weight: bold;
            padding: 0px 36px;
            float: right;
            width: 100%;
            text-align: right;
            font-size: 15px; }
          body .alarmContainer .alarmForm .form-row .form-group .button-container {
            padding: 10px;
            position: relative;
            top: 20%; }
            body .alarmContainer .alarmForm .form-row .form-group .button-container .set-btn {
              position: relative;
              top: 30%;
              padding: 15px 35px;
              font-size: 15px;
              border-radius: 15px;
              font-weight: bold;
              float: left;
              box-shadow: none !important;
              box-shadow: 0 9px #999;
              margin-right: 10px; }
              body .alarmContainer .alarmForm .form-row .form-group .button-container .set-btn:hover {
                color: #ffffff;
                background-color: #928f8f;
                border: solid thin transparent;
                transition: all ease-in .1s; }
              body .alarmContainer .alarmForm .form-row .form-group .button-container .set-btn:active {
                box-shadow: 0 5px #666;
                transform: translateY(4px); }
          body .alarmContainer .alarmForm .form-row .form-group label.countDown {
            position: relative;
            font-size: 20px;
            top: 40%;
            color: #7e7a7a;
            font-weight: bolder; }
        body .alarmContainer .alarmForm .form-row .inputGroup {
          padding: 20px 0px; }
    body .alarmContainer .balanceForm {
      position: absolute;
      height: 500px;
      background-color: #453697;
      padding: 5% 0 !important; }
      body .alarmContainer .balanceForm .balanceTable th, body .alarmContainer .balanceForm tr, body .alarmContainer .balanceForm td {
        padding: 10px 20px; }
      body .alarmContainer .balanceForm .address {
        cursor: pointer; }
  body .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    /* Modal Content */
    /* The Close Button */ }
    body .modal .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 100%; }
      body .modal .modal-content .modal-header {
        display: block;
        text-align: center; }
        body .modal .modal-content .modal-header .modal-title {
          font-weight: bolder;
          letter-spacing: 1px; }
      body .modal .modal-content #alarm {
        width: 280px;
        height: 280px; }
      body .modal .modal-content .modal-footer {
        display: block !important;
        text-align: center; }
    body .modal .modal.fade {
      opacity: 1; }
    body .modal .modal.fade .modal-dialog {
      -webkit-transform: translate(0);
      -moz-transform: translate(0);
      transform: translate(0); }
    body .modal .close-btn {
      color: #000000;
      background-color: #ffffff;
      font-size: 18px;
      font-weight: bolder;
      padding: 12px;
      border: solid thin #000000;
      border-radius: 10px; }
      body .modal .close-btn:hover, body .modal .close-btn:focus {
        color: #ffffff;
        background-color: #aaaaaa;
        border: solid thin transparent;
        text-decoration: none;
        cursor: pointer; }
  body .footer {
    text-align: center; }

/*# sourceMappingURL=style.css.map */
