<!-- <!DOCTYPE html>
<html lang="en" class="no-js">
 <head>
  <meta charset="utf-8"/>
  <title>Shimmer</title>
        <meta http-equiv="X-UA-sm2-bar-uitible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link rel="icon" sizes="57x57" href="img/fav.png">
        <link rel="stylesheet" type="text/css" href="css/style.css">
      
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/animation.css">
    </head>
                </ul>
            </div>
        </nav>

                    <ul class="index-ul">
                        <form>
                            <li>
                                <span>Name</span>
                                <span>Balance</span>
                                <span>Address</span>
                            </li>
                        </form>
                    </ul>

                    <form class="balanceForm alarmForm">
                        <h1>Addresses (ETH)</h1>
                        <h5>If you like our project, please award some TT :)</h5>
                        <table class="table balanceTable">
                            <thead>
                                <tr>
                                <th scope="col" class="effect">Name</th>
                                <th scope="col" class="effect">Balance</th>
                                <th scope="col" class="effect">Address</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <td class="effect">Enze</td>
                                <td id="EnzeBalance">0</td>
                                <td id="EnzeAddr" class="address" name="0x0f5Cb637B39d6D7c60497F51a263b5D6de17B343">0x0f5Cb637B39d6D7c60497F51a263b5D6de17B343</td>
                                </tr>
                                <tr>
                                <td>Richard</td>
                                <td id="RichardBalance">0</td>
                                <td id="RichardAddr" class="address" name="0x4308C4533006420aCf64430442caa4653D2F2355">0x4308C4533006420aCf64430442caa4653D2F2355</td>
                                </tr>
                            </tbody>
                        </table>
                    </form>

            <div class="col-lg-9">
                <div class="container-fluid container alarmContainer">
                    <form class="alarmForm">
                        <h5 id="title">ThunderCore Image</h5>
                        
                    </form>
                    <img id="TTimage" src="img/pic/50.png" width="400" height="400">
                    <button id="demo">Start demo</button>
                </div>
            </div>
        </div>
        
        <footer class="footer">
            <p>Copyright &copy 2019 Enze Si, Ziming Qin</p >
        </footer>
    </body>
</html> -->

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <title>Shimmer</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body background="img/thundercore.png">
    <ul class="index-ul">
        <h2 class="shimmer">Shimmer Wallet</h2>
      <form>
        <button class="select-button" id="demo">Send</button>
        <div>Click button to send 50 transactions or scan QR code to send a transaction</div>
        <li>
            <span>Name</span>
            <span>Balance</span>
            <span>Address</span>
        </li>
        <li>
            <span>Enze</span>
            <span id="EnzeBalance">&nbsp&nbsp&nbsp&nbsp&nbsp0</span>
            <span id="EnzeAddr">0x0f5Cb637B39d6D7c60497F51a263b5D6de17B343</span>
        </li>
        <li>
            <span>Richard</span>
            <span id="RichardBalance">&nbsp&nbsp&nbsp&nbsp&nbsp0</span>
            <span id="RichardAddr">0x4308C45FF006420aCf64430442cAa4653D2F2355</span>
        </li>
      </form>
      <img id="TTimage" src="img/pic/50.png" width="400" height="400" class="TT">
    </ul>
    <img src="img/QRcode.jpg" width="200" height="200" class="QR">
    <footer id="footer">Copyright &copy 2019 Enze Si, Ziming Qin</footer>
  </body>
  <script type="text/javascript" src="js/jquery-3-3-1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.min.js"  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js" crossorigin="anonymous"></script>
</html>