<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <title>Shimmer</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body background="img/thundercore.png">
    <ul class="index-ul">
        <h2 class="shimmer">Shimmer Wallet</h2>
      <form>
        
        <div>Click button to send 50 TT transactions on main net or scan QR code to send a transaction</div>
        <div>The image below will get brighter and clearer after the completion after each transaction</div>
        <li>
            <span>Name</span>
            <span>Balance</span>
            <span>Level</span>
            <span>Address</span>
        </li>
        <li>
            <span>Enze</span>
            <span id="EnzeBalance">&nbsp&nbsp&nbsp&nbsp&nbsp0</span>
            <span id="EnzeLevel">&nbsp&nbsp&nbsp&nbsp&nbsp1</span>
            <span id="EnzeAddr">0xd302251CD0bCF47f39F810a782Dd33384f62fEc5</span>
        </li>
        <li>
            <span>Richard</span>
            <span id="RichardBalance">&nbsp&nbsp&nbsp&nbsp&nbsp0</span>
            <span id="RichardLevel">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp1</span>
            <span id="RichardAddr">0x4308C4533006420aCf64430442caa4653D2F2355</span>
        </li>
      </form>
      <button class="select-button" id="demo">Send</button>
      <img id="TTimage" src="img/pic/image-50.png" width="400" height="400" class="TT">
    </ul>
    <img src="img/QRcode.jpg" width="200" height="200" class="QR">
    <footer id="footer">Copyright &copy 2019 Enze Si, Ziming Qin</footer>
  </body>
  <script type="text/javascript" src="js/jquery-3-3-1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.min.js"  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js" crossorigin="anonymous"></script>
</html>