<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Shimmer</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <p id = "msgBox"></p> 

    <header id="main-header">
      <div class="container">
        <h1>Shimmer</h1>
      </div>

    </header>

    <nav id="navbar">
      <div class="container">
        <ul>
          <li><a href="about" target="external">About</a></li>
          <li><a href="demo" target="external">Demo</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <script type="text/javascript" src="js/jquery-3-3-1.min.js"></script>
  <script type="text/javascript" src="js/index.js"></script>
</body>
</html>
